<?php

# @{{ boxname }}.vm
$aliases['vm'] = array(
  'root' => '/var/www/site/docroot',
  'uri' => '{{ webserver_hostname_alias }}',
  'path-aliases' => array(
    '%dump-dir' => '/var/www/site/drush-dumps',
  ),
);

{% for item in drush_aliases %}
# @{{ boxname }}.{{ item.alias }}
$aliases['{{ item.alias }}'] = array(
  {% if item.root is defined %}
  'root' => '{{ item.root }}',
  {% endif %}
  {% if item.uri is defined %}
  'uri' => '{{ item.uri }}',
  {% endif %}
  {% if item.remote_host is defined %}
  'remote-host' => '{{ item.remote_host }}',
  {% endif %}
  {% if item.remote_user is defined %}
  'remote-user' => '{{ item.remote_user }}',
  {% endif %}
  {# TODO: The 'if' statement below could be better - revise. #}
  {% if item.path_aliases_dump_dir is defined %}
  'path-aliases' => array(
    {% if item.path_aliases_drush is defined %}
    '%drush' => '{{ item.path_aliases_drush }}',
    {% endif %}
    {% if item.path_aliases_dump_dir is defined %}
    '%dump-dir' => '{{ item.path_aliases_dump_dir }}',
    {% endif %}
  ),
  {% endif %}
  'command-specific' => array(
    'rsync' => array (
      'mode' => 'adivvz',
      'exclude-paths' => 'css:ctools:js:styles:xmlsitemap:.DS_Store:.htaccess:tmp',
    ),
  ),
);

{% endfor %}